
html {
    background-color: rgb(42, 66, 110);
    justify-content: center;
}

#header > * {
    font-family: "Helvetica";
    color: rgb(247, 185, 15);
}

#header {
    display: grid;
    justify-content: center;
    width: 98.5vw;
    height: 12vh;
    background-color: rgb(50, 76, 125);
    border: 2px solid rgb(50, 76, 125);
    border-radius: 25px;
    animation: fadeIn
}

#AboutText {
    display: flex;
    text-align: center;
    color: rgb(247, 185, 15);
    font-size: 40px;
    animation: fadeIn 2s;
    background-image: linear-gradient(to right, #218de0, #0079ea, #0062ef, #0045ee, #1a11e5);
    border: 2px hidden;
    border-radius: 25px;
}
#StatisticsText {
    display: flex;
    text-align: center;
    color: rgb(247, 185, 15);
    font-size: 40px;
    animation: fadeIn 2s;
    background-image: linear-gradient(to right, #218de0, #0079ea, #0062ef, #0045ee, #1a11e5);
    border: 2px hidden;
    border-radius: 25px;
}
#ContactText {
    display: flex;
    text-align: center;
    color: rgb(247, 185, 15);
    font-size: 40px;
    animation: fadeIn 2s;
    background-image: linear-gradient(to right, #218de0, #0079ea, #0062ef, #0045ee, #1a11e5);
    border: 2px hidden;
    border-radius: 25px;
}

#AboutText > img {
    border:1px hidden;
    border-radius:25px;
    padding: 5px;
}

#info {
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px hidden;
    border-radius: 25px;
    background-image: linear-gradient(to right, #ffffff, #fafafa, #f5f5f5, #f0f0f0, #ebebeb);
    animation: fadeIn 2s;
    margin: 3px 0px 3px 0px;
}

    #info > button {
        border: solid 2px rgb(50, 79, 133);
        background-color: rgb(50, 76, 125);
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        border-radius: 25px;
        font-family: Georgia;
        font-weight: bold;
        color: rgb(237, 197, 50);
        font-size: 20px;
        animation: fadeIn 2s;
    }

        #info > button:hover {
            background-color: rgb(65, 146, 217);
            border: solid 2px rgb(71, 160, 237);
        }

#About {
    margin: 0px 20vw 0px 0px;
}

#Contact {
    margin: 0px 0px 0px 20vw;
}

#Welcome{
    width: 98.75vw;
    height: 50vh;
    background-image: linear-gradient(to right, #ffffff, #fafafa, #f5f5f5, #f0f0f0, #ebebeb);
    border: 2px hidden;
    border-radius: 25px;
    display: flex;
    animation: fadeIn 2s;
    justify-content:center;
}

#Welcome > * {
    text-align:center;
    display: flex;
}

@keyframes fadeIn {
    0% { opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
